<ion-view title="Actual" id="ecactual">
    <ion-content class="has-header">        
            <div id="actual-markdown6" style="color:#000000;">
                <p style="margin:5px;">Pagos <strong>pendientes</strong></p>
            </div>
            <ion-list id="actual-list">
                <ion-item ng-repeat="pago in pagospendientes">
                    <i class="icon ion-android-arrow-dropright-circle"></i> {{pago.descripcion}} <br>Monto: {{pago.monto}} <br>Fecha vencimiento: {{pago.fechaVencimiento}}
                </ion-item>
            </ion-list>        
    </ion-content>
</ion-view>