<ion-view title="Estado de cuenta" id="estadoDeCuenta">
    <ion-content class="has-header">        
            <div id="estadoDeCuenta-markdown7" style="color:#000000;">
                <p style="margin:5px;">Estado de cuenta
                    <strong>oc100516</strong>
                </p>
            </div>
            <ion-list id="estadoDeCuenta-list6">
                <ion-item id="estadoDeCuenta-list-item17" href="#/app/ecactual">
                    <h2><i class="icon ion-android-arrow-dropright-circle"></i> Actual</h2>
                    <p>* Muestra el estado de cuenta del ciclo vigente</p>
                </ion-item>
                <ion-item id="estadoDeCuenta-list-item18" href="#/app/echistorico"">
                    <h2><i class="icon ion-android-arrow-dropright-circle"></i> Histórico</h2>
                    <p>* Muestra el historial de pagos realizados.</p>
                </ion-item>
            </ion-list>        
    </ion-content>
</ion-view>