<ion-view title="Estado de cuenta">
    <ion-header-bar class="bar-subheader bar-positive">
        <h4 class="title">Usuario: {{phA}}</h4>  
    </ion-header-bar>
    <ion-content>        
        <ion-list id="estadoDeCuenta-list6">            
            <ion-item id="estadoDeCuenta-list-item18" href="#/app/echistorico" class="item item-avatar item-icon-right">
                <img src="img/iHistorialPagos.png"> Historial de pagos realizados</h2>                
                <i class="icon ion-chevron-right"></i>
            </ion-item>        
            <ion-item id="estadoDeCuenta-list-item17" href="#/app/ecactual" class="item item-avatar item-icon-right">
                <img src="img/iTalonario.png"> Cuotas próximas a pagar
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>        
    </ion-content>
    <div class="bar bar-footer">
      <p>Develop By CDSOFT - Copyright &copy; 2017
      Powered By UFG Cloud </p>
      <span><img src="img/uvirtual.png" alt="Button banner" class="img-responsive img-brand-footer"></span>
    </div>    
</ion-view>