<ion-view title="Asignaturas aprobadas" id="pactual">
    <ion-header-bar class="bar-subheader bar-positive">
        <h4 class="title">Usuario: {{phA}}</h4>  
    </ion-header-bar>
    <ion-content class="has-header">        
            <!--<div id="actual-markdown1" style="color:#000000;">
                <p style="margin:5px;">Asignaturas <strong>aprobadas</strong></p>
            </div>-->
            <ion-list id="actual-list">
                <ion-item ng-repeat="asignatura in asignaturasA">
                    <i class="icon ion-ionic"></i> {{asignatura.codAsignatura}} 
                    <p>{{asignatura.asignatura}} </p>
                    <p>Nota final: {{asignatura.calificacionF}} </p>
                </ion-item>
            </ion-list>        
    </ion-content>
    <div class="bar bar-footer">
      <p>Develop By CDSOFT - Copyright &copy; 2017
      Powered By UFG Cloud </p>
      <span><img src="img/uvirtual.png" alt="Button banner" class="img-responsive img-brand-footer"></span>
    </div>    
</ion-view>