<ion-view title="Pensum" id="pensum">
    <ion-header-bar class="bar-subheader bar-positive">
        <h4 class="title">Usuario: {{phA}}</h4>  
    </ion-header-bar>
    <ion-content class="has-header">                    
            <ion-list id="pensum-list1">
                <ion-item id="pensum-list-item1" class="item item-avatar item-icon-right" href="#/app/pactual">
                    <img src="img/iAprobadas2.png"> Asignaturas aprobadas</h2>                
                    <i class="icon ion-chevron-right"></i>                    
                </ion-item>
                <ion-item id="pensum-list-item2" class="item item-avatar item-icon-right" href="#/app/phistorico"">
                    <img src="img/iHistorialAsignaturas.png"> Historial de asignaturas</h2>                
                    <i class="icon ion-chevron-right"></i>                    
                </ion-item>
            </ion-list>        
    </ion-content>
    <div class="bar bar-footer">
      <p>Develop By CDSOFT - Copyright &copy; 2017
      Powered By UFG Cloud </p>
      <span><img src="img/uvirtual.png" alt="Button banner" class="img-responsive img-brand-footer"></span>
    </div>    
</ion-view>
