<ion-view title="Pensum" id="pensum">
    <ion-content class="has-header">        
            <div id="pensum-markdown1" style="color:#000000;">
                <p style="margin:5px;">Pensum
                    <strong>oc100516</strong>
                </p>
            </div>
            <ion-list id="pensum-list1">
                <ion-item id="pensum-list-item1" href="#/app/pactual">
                    <h2><i class="icon ion-android-arrow-dropright-circle"></i> Actual</h2>
                    <p>* Muestra las asignaturas aprobadas</p>
                </ion-item>
                <ion-item id="pensum-list-item2" href="#/app/phistorico"">
                    <h2><i class="icon ion-android-arrow-dropright-circle"></i> Histórico</h2>
                    <p>* Muestra el historial de asignaturas</p>
                </ion-item>
            </ion-list>        
    </ion-content>
</ion-view>
