<ion-view title="Historial de asignaturas">
    <ion-header-bar class="bar-subheader bar-positive">
        <h4 class="title">Usuario: {{phA}}</h4>  
    </ion-header-bar>
    <ion-content class="has-header">        
            <!--<div id="historial-markdown1" style="color:#000000;">
                <p style="margin:5px;">Historial de asignaturas</p>
            </div>-->
            <ion-list id="hostorico-list">
                <!--<ion-item ng-repeat="asignatura in asignaturasP">
                    <i class="icon ion-android-arrow-dropright-circle"></i> {{asignatura.asignatura}} 
                    <p>Código: {{asignatura.codAsignatura}} </p>
                    <p>Ciclo: {{asignatura.ciclo}} </p>
                </ion-item> -->

                <div ng-repeat="asignatura in asignaturasP">
                  <ion-item class="item-stable"
                            ng-click="toggleGroup(asignatura)"
                            ng-class="{active: isGroupShown(asignatura)}">
                      <i class="icon" ng-class="isGroupShown(asignatura) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Ciclo {{asignatura.ciclo}}
                  </ion-item>
                  <ion-item class="item-accordion"
                            ng-repeat="item in asignatura.items"
                            ng-show="isGroupShown(asignatura)">
                    <i class="icon ion-ionic"></i> {{item.asignatura}} 
                    <p>Código: {{item.codAsignatura}} <span class="AlineadoDer">UV: {{item.uv}}</span></p>
                  </ion-item>
                </div>
            </ion-list> 
    </ion-content>
    <div class="bar bar-footer">
      <p>Develop By CDSOFT - Copyright &copy; 2017
      Powered By UFG Cloud </p>
      <span><img src="img/uvirtual.png" alt="Button banner" class="img-responsive img-brand-footer"></span>
    </div>    
</ion-view>